<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoMVC - No Java Frameworks</title>
    <link href="https://cdn.jsdelivr.net/npm/todomvc-app-css@2.4.3/index.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/todomvc-common@1.0.5/base.min.css" rel="stylesheet">
</head>
<body>
<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <form method="post" action="/todo">
            <input id="title" class="new-todo" placeholder="What needs to be done?" autofocus>
        </form>
    </header>
    <section class="main">
        \{content}
    </section>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="https://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="https://todomvc.com">you</a></p>
    <p>Part of <a href="https://todomvc.com">TodoMVC</a></p>
</footer>
<!-- Scripts here. Don't remove ↓ -->
<script src="https://cdn.jsdelivr.net/npm/todomvc-common@1.0.5/base.min.js"></script>
</body>
</html>